<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Data Table With Full Features</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="dataTable">
					<thead>
						<tr>
							<th id="userName" th:text="#{user.label.username}">User Name</th>
							<th id="email" th:text="#{user.label.email}">Email</th>
							<th id="name" th:text="#{user.label.name}">Name</th>
							<th id="lastModifiedDate" th:text="#{general.label.lastmodifieddate}">Last Modified Date</th>
							<th id="lastModifiedBy" th:text="#{general.label.lastmodifiedby}">Last Modified By</th>
							<th id="actions" th:text="#{general.label.actions}">Actions</th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.control-sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
</body>
</html>
